{% extends 'layout/patlayout.html.twig' %}

{% block content %}
    <h1>YOUR CART</h1>
    <div class="product-info">
    {% include 'cart/cart_order_summary.html.twig' %}
            {%  for product in products %}
                {% if product %} 
                    <h2>{{ product.name }}</h2>
                    <div>
                    Number of items: {{ product.count|raw }}
                    <br>Price per unit: {{ product.price }}
                    </div>
                    <div class="buttons a">
                        <a href="/cartremove?id={{product.id}}" class="btn btn-outline-secondary">Delete all</a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="buttons a">
                <a href="/checkout-address" class="btn btn-outline-secondary">Continue to Checkout</a>
                <a href="/listing" class="btn btn-outline-secondary">Continue Shopping</a>
            </div>
    </div>
{% endblock %}