<p class="my-1 cart-title">Sumário:</p>
<div class="card shadow-sm card-cart my-2">
    <div class="row align-items-center">
        <div class="col">
            <p class="subtitle mt-3 mb-0 mx-3" style="white-space: nowrap">
                Itens no carrinho:
            </p>
        </div>
        <div class="col text-right">
            <p class="subtitle mt-3 mb-0 mx-3 font-weight-bold">
                {{ cart.priceCalculator.grandTotal }}
            </p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <p
                class="subtitle mx-3 mb-0 text-secondary"
                style="white-space: nowrap"
            >
                Descontos aplicados:
            </p>
        </div>
        <div class="col text-right">
            <p class="subtitle mx-3 mb-0 text-secondary">00.00 €</p>
        </div>
    </div>
    <hr class="mx-3" />
    <div class="row align-items-center">
        <div class="col">
            <p class="cart-title mx-3" style="white-space: nowrap">Total:</p>
        </div>
        <div class="col text-right">
            <p class="cart-title mx-3 font-weight-bold">
                {{ cart.priceCalculator.grandTotal }}
            </p>
        </div>
    </div>
</div>