{% extends 'layout/patLayout.html.twig' %}

{% block content %}

    <div class="py-5 bg-light">
        <div class="container">

            <h1 class="mb-3">Your Cart is currently empty!</h1>

            <div class="text-center">

                <a href="/listing" class="btn btn-outline-secondary">Continue Shopping</a>
            </div>

        </div>
    </div>

{% endblock %}