{% extends 'layout/patLayout.html.twig' %}


{% block content %}

    <head>
        <meta charset="UTF-8" />
        <title>Trip and Fun</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('static/css/login.css') }}"
        />
    </head>

    <section class="section-grey">
        <p class="title text-center my-0">Resetar password</p>
        <p class="text-secondary text-center subtitle my-0 mb-2">
            Recupere o seu password de forma fácil e rápida.
        </p>
    
        <div class="my-2 container">
            <div class="login-card card shadow-sm my-2 text-center">
               <form>
                   <div class="form-group">
                     <label for="exampleInputEmail1">E-mail</label>
                     <input type="email" id="email" name="email" required="required" class="form-control" value="{{ emailPrefill }}" placeholder="email@address.com">
                    </div>
                     <button type="submit" id="_submit" name="_submit" class="btn orange-button orange-button-100 my-3">Submeter</button>
                </form>
           </div>
</section>

{% endblock %}