.home-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}

.home-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.home-button {
    width: 157px;
    height: 36px;
    background: #ffffff;
    color: #120639;
    border-color: #fcfbfe;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.card {
    width: 18%;
    height: 20%;
    position: relative;
    border-radius: 3px 3px 3px 3px;
    font-weight: 800;
    padding: 0;
    border: 0px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

.card-img-div {
  position: relative;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
}

.card-img {
  object-fit: cover;
  height: 180px;
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  opacity: 100%;
}

.card-text {
  color: #ffffff;
  align-content: center;
  text-shadow: 1px 1px 1px #000;
}

.column-left {
  width: 50%;
  margin-top: 10px;
}

.column-right {
  width: 50%;
}

.container {
  display: flex;
  align-items: center;
}

.container input {
  margin-right: 10px; /* Optional: Add some spacing between the elements */
}

/* PRODUCT LIST */

.product-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
} 

.product-subtitle {
  font-size: 12px;
  font-weight: 500;
}

.product-price {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.product-list-image-div {
  position: relative;
  height: 287px;
  overflow: hidden;
  border-radius: 5px;
}

img.product-list-image {
  object-fit: cover;
  height: 287px;
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.card-products {
  width: 18%;
  height: 18%;
  position: relative;
  border-radius: 3px 3px 3px 3px;
  font-weight: 800;
  padding: 0;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
}
