/* VARS */
:root {
    --honey: #EC9706;
    --amber: #893101;
}

body {
    background-color: #EC9706;
    padding: 0;
    font-family: "Lucida Sans Unicode", Arial;
    font-size: 14px;
}


/* Set the background color and add some padding */
.navbar {
    background-color: white;
    padding: 10px;
  }
  
  /* Style the navbar brand (logo or text) */
  .navbar-brand {
    font-size: 40px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style the navigation links */
  .navbar-nav .nav-link {
    font-size: 16px;
    color: #555;
    margin-right: 10px;
  }
  
  /* Style the active navigation link */
  .navbar-nav .nav-item.active .nav-link {
    color: #893101;
    align-items: center;
  }
  
  /* Style the search form */
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  /* Style the search input field */
  .form-control {
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
  }
  
  /* Style the search button */
  .btn-outline-success {
    font-size: 14px;
    padding: 5px 10px;
  }

.bg-light {
    background-color: white !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 0 0 0;
}

#footer {
    max-width: 1400px;
}


h1, h2 {
    font-size: 18px;
    padding: 0 0 5px;
    /* This is a single-line comment border-bottom: 1px solid #001428; */
    margin-bottom: 5px;
    color: #0a0a0a;
}


h3 {
    font-size: 14px;
    padding: 15px 0 5px;
    margin-bottom: 5px;
    border-color: #cccccc;
}

img {
    border: 0;
}

p {
    padding: 0 0 5px;
}

a {
    color: #000;
}

#content {
    margin-left: 10%;
    margin-top: 3%;
}

.claim {
    text-transform: uppercase;
    color: #BBB;
}


.buttons {
    margin-bottom: 100px;
    text-align: center;
}

.buttons a {
    display: inline-block;
    background: #EC9706;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    width: 40%;
    border-radius: 2px;
    text-decoration: none;
}

.buttons a:hover {
    background: #893101;
}

.buttons a:last-child {
    margin: 0;
}

.page-link {
    padding: 0.375rem 0.75rem;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--amber);
    border-color: var(--amber);
}