/* BASIC STYLING */

.column-left {
    width: 60%;
    margin-top: 10px;
}

.column-right {
    width: 40%;
}

.title {
    font-weight: 800;
    font-size: 20px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
}

/* PRODUCT  */
.price {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

img.product-image {
   object-fit: cover;
   width: 100%; 
   height: 100%;
   float: right;
   border-radius: 5px;
}

/* PRODUCT LIST */

.product-list-image-div {
  position: relative;
  height: 287px;
  width: 189px;
  overflow: hidden;
  border-radius: 5px;
}

img.product-list-image {
    object-fit: cover;
    height: 287px;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
 }

@media screen and (max-width: 600px) {
    .column-left {
        width: 100%;
        text-align: center;
    }
    .column-right {
        width: 100%;
        text-align: center;
    }

    img.product-image {
        float: none;
     }


}