{% extends ('layout/patLayout.html.twig') %} {% block content %}

<head>
    <meta charset="UTF-8" />
    <title>Trip and Fun</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('static/css/aboutus.css') }}"
    />
</head>

<section class="section-grey">
    <p class="title text-center my-0">Sobre nós</p>
    <p class="text-secondary text-center subtitle my-0 mb-2">
        Conheça um pouco mais sobre a nossa empresa.
    </p>

    <p class="text-secondary text-center my-0 mb-2">
        Bem-vindo ao Trip and Fun, o seu site de venda de experiências de lazer e turismo! Somos uma plataforma dedicada a oferecer momentos inesquecíveis e aventuras emocionantes para todos os amantes de viagens e diversão. Fundada no ano de 2023, a Trip and Fun tem o compromisso de proporcionar experiências únicas e memoráveis para todos os nossos clientes. 
        <br />
        <br />
        Aqui, acreditamos que a vida é feita de momentos especiais, e viajar é uma maneira incrível de criar lembranças duradouras. Com uma ampla variedade de atividades e destinos, estamos prontos para transformar seus sonhos em realidade. Seja explorando paisagens exuberantes, mergulhando em culturas vibrantes ou desafiando-se com aventuras emocionantes, a Trip and Fun tem algo para todos os gostos e preferências. 
        <br />
        <br />
        Estamos empolgados em fazer parte da sua jornada de descoberta e diversão. Prepare-se para vivenciar momentos inesquecíveis, conhecer pessoas incríveis e criar memórias que durarão para sempre. Junte-se a nós, a Trip and Fun, e deixe-nos ajudá-lo a transformar seus sonhos de viagem em realidade. Explore nosso site, escolha sua próxima experiência e comece a fazer planos para uma jornada emocionante. 
        
        <br />
        <br />
        
        Se você é anunciante, atraia a atenção de novos clientes e amplie sua visibilidade ao publicar conosco no Trip and Fun, o destino ideal para promover suas experiências de lazer e turismo. Entre em contato agora mesmo através do email tripandfun@novasexperiencias.pt!
    </p>
</section>
{% endblock %}
