{# @var productListing
\Pimcore\Bundle\EcommerceFrameworkBundle\IndexService\ProductList\ProductListInterface
#} {# @var result Knp\Component\Pager\Pagination\SlidingPagination #} {# @var
item \App\Model\DataObject\Product #} {# @var filterService
\Pimcore\Bundle\EcommerceFrameworkBundle\FilterService\FilterService #} {# @var
filterDefinition \Pimcore\Model\DataObject\FilterDefinition #} {% extends
'layout/patLayout.html.twig' %} {% block content %}
<head>
    <meta charset="UTF-8" />
    <title>Trip and Fun</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('static/css/product.css') }}"
    />
</head>

<section class="section-grey">
    <p class="section-title text-center">Filtro</p>
    {% include 'product/product_filter.html.twig' %}
</section>
<section class="section-grey">
	<div class="row my-2 d-flex">
        <p class="section-title text-center">Produtos</p>
    {% for item in results %} 
		{% include 'product/product_teaser.html.twig' with {'product': item} %} 
	{% endfor %}
</div>

{% include 'includes/pagination.html.twig' %}
</section>

{% endblock %}
