    <div class="row my-2 d-flex justify-content-center">
        <div class="card m-2 shadow">
            <a href="/listing?productType=30">
                <div class="card-img-div">
                    <img src="static/images/hotel.jpg" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay row">
                      <p class="card-text align-self-center">HOTÉIS</p>
                </div>
            </a>
        </div>
        <div class="card m-2 shadow">
            <a href="/listing?productType=17">
                <div class="card-img-div">
                    <img src="static/images/spa.jpg" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay row">
                      <p class="card-text align-self-center">SPA</p>
                </div>
            </a>
        </div>
        <div class="card m-2 shadow">
            <a href="/listing?productType=28">
                <div class="card-img-div">
                    <img src="static/images/restaurante.jpg" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay row">
                  <p class="card-text align-self-center">RESTAURANTES</p>
                </div>
            </a>
        </div>
        <div class="card m-2 shadow">
            <a href="/listing?productType=15">
                <div class="card-img-div">
                    <img src="static/images/lazer.jpg" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay row">
                      <p class="card-text align-self-center">LAZER</p>
                </div>
            </a>
        </div>
        <div class="card m-2 shadow">
            <a href="/listing?productType=29">
                <div class="card-img-div">
                    <img src="static/images/aventura.jpg" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay row">
                      <p class="card-text align-self-center">AVENTURA</p>
                </div>
            </a>
        </div>
    </div>