<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trip and Fun</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/search-autocomplete.js"></script>
    <script src="static/lib/autocompletejs/js/autoComplete.min.js"></script>
    <script src="static/js/frontend.js"></script>
    <script src="static/lib/magnific/magnific.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/search-autocomplete.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet" type="text/css">
    <link href="static/lib/magnific/magnific.css" rel="stylesheet" type="text/css">
    <link href="static/lib/autocompletejs/css/autoComplete.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" rel="stylesheet" type="text/css">
    <link href="{{ asset('static/css/layout.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

<section class="section-orange"><div class="text-center text-white"> SALDOS - 40% OFF EM  EXPERIENCIAS SELECIONADAS  </div></section>
  <!-- MENU HOME-->
<section class="section-white">
    <div id="header">
        <nav class="navbar navbar-expand-lg">
        <h1 class="mx-4 menu-title">TRIP & FUN</h1>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link menu-item" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="/listing">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="/about-us">Sobre nós</a>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
          
                {% if app.user %}
                    <a class="nav-link menu-item" href="/account/index"><i class="fa-regular fa-circle-user"></i> {{ app.user.firstname }} {{ app.user.lastname }}</a>
                {% else %}    
                <a class="nav-link menu-item" href="/account/login"><i class="fa-regular fa-circle-user"></i> Login</a>
                {% endif %}
                <a class="nav-link menu-item" href="/cartlist"><i class="fa-solid fa-cart-shopping"></i></a>
                
            </div>
            
        </nav>
        
    </div>
    
</section>    
      <!-- END MENU -->

      <div id="content">
        {% block content %}
        {% endblock %}
    </div>
<!-- FOOTER -->

<section class="section-white">

    <footer class="footer">
        <div class="column"> 
            <p class="section-title">Contactos</p>
            <p><i class="fa fa-location-arrow"></i> Palácio Dos Condes Do Redondo, R. de Santa Marta 56, 1169-023 Lisboa </p>
            <p><i class="fa fa-phone"></i> +351 915854962 </p>
            <p><i class="fa fa fa-envelope"></i> info@tripandfun.com </p></div>
        <div class="column">
            <p class="section-title">Acesso rápido</p>
            <p class="main-color"><a href="/listing" class="main-color">Produtos</a></p>
            <p class="main-color"><a href="/about" class="main-color">Quem somos</a></p>
            </div>
        <div class="column">
            <p class="section-title">Redes sociais</p>
            <a href="https://instagram.com/tripfun" target="_blank"><i class="fa-brands fa-instagram fa-lg mx-1 main-color"></i></a> <a href="https://twitter.com/tripfun" target="_blank"><i class="fa-brands fa-twitter fa-lg mx-1 main-color"></i></a> <a href="https://facebook.com/tripfun" target="_blank"><i class="fa-brands fa-facebook fa-lg mx-1 main-color"></i></a>
        </div>
     </footer>
</section>
<!-- END FOOTER -->


    {% block inlinescripts deferred %}
         {{ pimcore_inline_script() }}
    {% endblock %}
</body>
</html>


   
